* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: justify;
}

h2{
    text-align: center;
    color: #000;
}

h3{
    color: #000;
}

h4{
    color: #000;
}